.vertical-menu li.active {
    background-color: rgba(75, 105, 176, 0.5);
    /* Color de resaltado */
    color: white;
    /* Color de texto en resaltado */
    font-weight: bold;
    /* Texto en negrita en resaltado */
}

p {
    text-align: center;
    color: #1d1d1d;
    font-size: 30px;
}


/* Import the Google Font 'Lato' */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */

.diviporcen {
    padding-bottom: 0px;
    padding-top: 50px;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: 800;
    color: #0073FF;
}

.container {
    padding: 50px 0;
    text-align: center;
}

.chart {
    position: relative;
    display: inline-block;
    color: #0073FF;
    font-size: 20px;
    font-weight: 500;
    vertical-align: text-top;
    padding-top: 0;
}

.textu {
    color: #030303;
}

.chart figcaption {
    padding: 50px 25px;
    width: 100px;
    height: 50px;
    border: 20px solid #0073ff90;
    border-radius: 100px;
    line-height: 50px;
    font-size: 2em;
}

.chart div {
    max-width: 200px;
    max-height: 100px;
    border-radius: 15px;
    background: #0073ff3e;
    margin: 0 auto;
    padding: 10px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* END Container styles */


/* Colors for the circles and positions for the graphics */

.html {
    top: 50px;
    left: 45px;
}

.html+svg .outer {
    stroke: class="textu";
}

.css {
    top: 55px;
    left: 48px;
}

.css+svg .outer {
    stroke: #0d84ce;
}

.javascript {
    max-width: 90px;
    max-height: 90px;
    top: 45px;
    left: 45px;
}

.javascript+svg .outer {
    stroke: #f0e040;
}

.node {
    width: 200px;
    height: 200px;
    top: 45px;
    left: 45px;
}

.node+svg .outer {
    stroke: #83cd29;
}

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #FF0041;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /*firefoxbugfix-won'trotateat90degangles*/
    -moz-transform: rotate(-89deg) translateX(-190px);
    -webkit-transition: stroke-dashoffset 1s;
    -moz-transition: stroke-dashoffset 1s;
    -ms-transition: stroke-dashoffset 1s;
    -o-transition: stroke-dashoffset 1s;
}

.chart:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
}


/* END Circle colors and graphic positions */


/* Set the initial values for the animation */

.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}

.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}

.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}

.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='15'] .outer {
    stroke-dashoffset: 450;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='10'] .outer {
    stroke-dashoffset: 480;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}


/* END set initial animation values */


/* Keyframes for the initial animation */

@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 134;
    }
}

@keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 124;
    }
}

@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 267;
    }
}

@keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 267;
    }
}

@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 401;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 401;
    }
}

@-webkit-keyframes show15 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 450;
    }
}

@keyframes show15 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 450;
    }
}

.timeline {
    width: 1500px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
}