.vertical-menu li.active {
    background-color: rgba(75, 105, 176, 0.5);
    /* Color de resaltado */
    color: white;
    /* Color de texto en resaltado */
    font-weight: bold;
    /* Texto en negrita en resaltado */
}

p {
    text-align: center;
    color: #1d1d1d;
    font-size: 30px;
}

.titleche {
    padding-top: 25px;
}


/* Import the Google Font 'Lato' */


/* Container styles */

.diviporcen {
    padding-bottom: 0px;
    padding-top: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #0073FF;
    margin: 0px;
}

.container {
    padding: 50px 0;
    text-align: center;
}

.chart {
    position: relative;
    display: inline-block;
    color: #0073FF;
    font-size: 20px;
    font-weight: 500;
    vertical-align: text-top;
    padding-top: 0;
}

.textu {
    color: #030303;
}

.chart figcaption {
    padding: 50px 25px;
    width: 100px;
    height: 50px;
    border: 20px solid #0073ff90;
    border-radius: 100px;
    line-height: 50px;
    font-size: 2em;
}

.chart div {
    max-width: 200px;
    max-height: 100px;
    border-radius: 15px;
    background: #0073ff3e;
    margin: 0 auto;
    padding: 10px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* END Container styles */


/* Colors for the circles and positions for the graphics */

.html {
    top: 50px;
    left: 45px;
}

.html+svg .outer {
    stroke: class="textu";
}

.css {
    top: 55px;
    left: 48px;
}

.css+svg .outer {
    stroke: #0d84ce;
}

.javascript {
    max-width: 90px;
    max-height: 90px;
    top: 45px;
    left: 45px;
}

.javascript+svg .outer {
    stroke: #f0e040;
}

.node {
    width: 200px;
    height: 200px;
    top: 45px;
    left: 45px;
}

.node+svg .outer {
    stroke: #83cd29;
}

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #FF0041;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /*firefoxbugfix-won'trotateat90degangles*/
    -moz-transform: rotate(-89deg) translateX(-190px);
    -webkit-transition: stroke-dashoffset 1s;
    -moz-transition: stroke-dashoffset 1s;
    -ms-transition: stroke-dashoffset 1s;
    -o-transition: stroke-dashoffset 1s;
}

.chart:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
}


/* END Circle colors and graphic positions */


/* Set the initial values for the animation */

.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}

.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}

.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}

.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='28'] .outer {
    stroke-dashoffset: 385;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='15'] .outer {
    stroke-dashoffset: 450;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='10'] .outer {
    stroke-dashoffset: 480;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.chart[data-percent='20'] .outer {
    stroke-dashoffset: 430;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}


/* Clases para los porcentajes */

.chart[data-percent='30'] .outer {
    stroke-dashoffset: 376;
    /* 30% */
    -webkit-animation: show30 2s;
    animation: show30 2s;
}

.chart[data-percent='18'] .outer {
    stroke-dashoffset: 469;
    /* 18% */
    -webkit-animation: show18 2s;
    animation: show18 2s;
}

.chart[data-percent='14'] .outer {
    stroke-dashoffset: 507;
    /* 14% */
    -webkit-animation: show14 2s;
    animation: show14 2s;
}

.chart[data-percent='22'] .outer {
    stroke-dashoffset: 419;
    /* 22% */
    -webkit-animation: show22 2s;
    animation: show22 2s;
}

.chart[data-percent='26'] .outer {
    stroke-dashoffset: 376;
    /* 26% */
    -webkit-animation: show26 2s;
    animation: show26 2s;
}


/* Clases para los porcentajes */
.chart[data-percent='74'] .outer {
    stroke-dashoffset: 140;
    /* 74% */
    -webkit-animation: show74 2s;
    animation: show74 2s;
}

.chart[data-percent='68'] .outer {
    stroke-dashoffset: 184;
    /* 68% */
    -webkit-animation: show68 2s;
    animation: show68 2s;
}

.chart[data-percent='80'] .outer {
    stroke-dashoffset: 106;
    /* 80% */
    -webkit-animation: show80 2s;
    animation: show80 2s;
}

.chart[data-percent='81'] .outer {
    stroke-dashoffset: 100;
    /* 81% */
    -webkit-animation: show81 2s;
    animation: show81 2s;
}

.chart[data-percent='66'] .outer {
    stroke-dashoffset: 166;
    /* 66% */
    -webkit-animation: show66 2s;
    animation: show66 2s;
}

/* Keyframes para los porcentajes */
@-webkit-keyframes show74 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 397;
        /* 74% */
    }
}

@keyframes show74 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 397;
        /* 74% */
    }
}

@-webkit-keyframes show68 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 353;
        /* 68% */
    }
}

@keyframes show68 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 353;
        /* 68% */
    }
}

@-webkit-keyframes show80 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 431;
        /* 80% */
    }
}

@keyframes show80 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 431;
        /* 80% */
    }
}

@-webkit-keyframes show81 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 437;
        /* 81% */
    }
}

@keyframes show81 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 437;
        /* 81% */
    }
}

@-webkit-keyframes show66 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 371;
        /* 66% */
    }
}

@keyframes show66 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 371;
        /* 66% */
    }
}






/* END set initial animation values */


/* Keyframes for the initial animation */

@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 134;
    }
}

@keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 124;
    }
}

@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 267;
    }
}

@keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 267;
    }
}

@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 401;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 401;
    }
}

@-webkit-keyframes show15 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 450;
    }
}

@keyframes show15 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 450;
    }
}

@-webkit-keyframes show28 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 385;
    }
}

@keyframes show28 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 385;
    }
}

@-webkit-keyframes show20 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 430;
    }
}

@keyframes show20 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 430;
    }
}


/* Keyframes para los porcentajes */

@-webkit-keyframes show30 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 161;
        /* 30% */
    }
}

@keyframes show30 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 161;
        /* 30% */
    }
}

@-webkit-keyframes show18 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 320;
        /* 18% */
    }
}

@keyframes show18 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 320;
        /* 18% */
    }
}

@-webkit-keyframes show14 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 386;
        /* 14% */
    }
}

@keyframes show14 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 386;
        /* 14% */
    }
}

@-webkit-keyframes show22 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 290;
        /* 22% */
    }
}

@keyframes show22 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 290;
        /* 22% */
    }
}

@-webkit-keyframes show26 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 242;
        /* 26% */
    }
}

@keyframes show26 {
    from {
        stroke-dashoffset: 537;
    }
    to {
        stroke-dashoffset: 242;
        /* 26% */
    }
}

.timeline {
    width: 1500px;
    padding-bottom: 50px;
}


/* checkeeeeee +++++++++++++++++++++++ */


/* CHECKEP */

.listche {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
    list-style: none;
    overflow: hidden;
    .list-itemche {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ecf0f1;
        position: relative;
        &:last-childche {
            border: 0;
        }
    }
}

.hidden-boxche {
    position: absolute;
    top: -9999px;
    left: -9999px;
    appearance: none;
    opacity: 0;
}

.check--labelche {
    font-size: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.check--label-boxche {
    display: flex;
    align-self: center;
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0 20px;
    border: 2px solid #3498db;
    border-radius: 2px;
    cursor: pointer;
}

.check--label-textche {
    display: flex;
    align-self: center;
    position: relative;
    cursor: pointer;
    padding: 20px;
    border-left: 1px solid #ecf0f1;
    &:after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 7.5%;
        transform: translateY(-50%);
        transition: width 100ms ease-in-out;
    }
}

.hidden-boxche:checked+.check--labelche {
    background-color: #F9F9F9;
    .check--label-boxche {
        background-color: #3498db;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0.5px;
            left: 5.5px;
            width: 6px;
            height: 12px;
            border: solid #000;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    .check--label-textche {
        &:after {
            width: 85%;
        }
    }
}
