.body {
    background: rgb(240, 240, 240);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.road {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.date {
    padding-top: 12px;
}


/*===== Vertical Timeline =====*/

#conference-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
    border-radius: 12px;
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #0073FF;
    padding: 12px 25px;
    color: #fff;
    max-width: 5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#conference-timeline .conference-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #0073FF;
    z-index: -1;
}

#conference-timeline .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
}

.timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
}

.timeline-article .timeline-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-align: right;
}

.timeline-article .content-left,
.timeline-article .content-right {
    border-radius: 15px;
    position: relative;
    width: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 27px 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}

.timeline-article p span.article-number {
    position: absolute;
    font-weight: 400;
    font-size: 44px;
    top: 0px;
    left: -60px;
    color: #0073FF;
}

.timeline-article .content-left-container {
    float: left;
}

.timeline-article .content-right-container {
    float: right;
}

.timeline-article .content-left:before,
.timeline-article .content-right:before {
    position: absolute;
    top: 20px;
    font-size: 23px;
    font-family: "FontAwesome";
    color: #fff;
}

.timeline-article .content-left:before {
    content: "\f0da";
    right: -8px;
}

.timeline-article .content-right:before {
    content: "\f0d9";
    left: -8px;
}

.timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
    background: #0073FF;
}

.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
    display: block;
    text-align: center;
    font-weight: 600;
}

.timeline-article .meta-date .date {
    font-size: 28px;
    line-height: 40px;
}

.timeline-article .meta-date .month {
    font-size: 18px;
    line-height: 10px;
}


/*===== // Vertical Timeline =====*/


/*===== Resonsive Vertical Timeline =====*/

@media only screen and (max-width: 830px) {
    #conference-timeline .timeline-start,
    #conference-timeline .timeline-end {
        margin: 0;
    }
    #conference-timeline .conference-center-line {
        margin-left: 0;
        left: 50px;
    }
    .timeline-article .meta-date {
        margin-left: 0;
        left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
        max-width: 100%;
        width: auto;
        float: none;
        margin-left: 110px;
        min-height: 53px;
    }
    .timeline-article .content-left-container {
        margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
        padding: 10px 25px;
        min-height: 65px;
    }
    .timeline-article .content-left:before {
        content: "\f0d9";
        right: auto;
        left: -8px;
    }
    .timeline-article .content-right:before {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .timeline-article p {
        margin: 0;
    }
    .timeline-article p span.article-number {
        display: none;
    }
}

.fotter1 {
    padding-bottom: 40px;
}


/*===== // Resonsive Vertical Timeline =====*/

.vertical-menu li.active {
    background-color: rgba(75, 105, 176, 0.5);
    /* Color de resaltado */
    color: white;
    /* Color de texto en resaltado */
    font-weight: bold;
    /* Texto en negrita en resaltado */
}