/* TU EQUIPO ****************************************************************** */


/* vista modal 1************ */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__title {
    font-size: 2.5rem;
}

.modal__paragraph {
    margin-bottom: 10px;
}

.modal__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* vista modal 2************ */

.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal2--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal2__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal2__title {
    font-size: 2.5rem;
}

.modal2__paragraph {
    margin-bottom: 10px;
}

.modal2__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal2__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* vista modal 3************ */

.modal3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal3--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal3__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal3__title {
    font-size: 2.5rem;
}

.modal3__paragraph {
    margin-bottom: 10px;
}

.modal3__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal3__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* vista modal 4************ */

.modal4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal4--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal4__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal4__title {
    font-size: 2.5rem;
}

.modal4__paragraph {
    margin-bottom: 10px;
}

.modal4__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal4__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* RECURSOS ************************************************************* */


/* vista modal 1************ */

.modalre1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalre1--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalre1__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modalre1__title {
    font-size: 2.5rem;
}

.modalre1__paragraph {
    margin-bottom: 10px;
}

.modalre1__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalre1__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* vista modal 2************ */

.modalre2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalre2--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalre2__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modalre2__title {
    font-size: 2.5rem;
}

.modalre2__paragraph {
    margin-bottom: 10px;
}

.modalre2__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalre2__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}


/* vista modal 3************ */

.modalre3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalre3--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalre3__container {
    margin: auto;
    width: 90%;
    max-width: 680px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modalre3__title {
    font-size: 2.5rem;
}

.modalre3__paragraph {
    margin-bottom: 10px;
}

.modalre3__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalre3__close:hover {
    color: #F26250;
    background-color: #fff;
}

.modal-img {
    height: 0px;
    width: 1480px;
}