.vertical-menu li.active {
    background-color: rgba(75, 105, 176, 0.5);
    /* Color de resaltado */
    color: white;
    /* Color de texto en resaltado */
    font-weight: bold;
    /* Texto en negrita en resaltado */
}

p {
    text-align: center;
    color: #1d1d1d;
    font-size: 30px;
}

.checkbox-groupinput {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;
}

.checkbox-groupinput>* {
    margin: 1rem 0.9rem;
}

.checkbox-group-legendinput {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-inputinput {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-inputinput:checked+.checkbox-tileinput {
    border-color: #0073FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: #0073FF;
}

.checkbox-inputinput:checked+.checkbox-tileinput:before {
    transform: scale(1);
    opacity: 1;
    background-color: #0073FF;
    border-color: #0073FF;
}

.checkbox-inputinput:checked+.checkbox-tileinput .checkbox-iconinput,
.checkbox-inputinput:checked+.checkbox-tileinput .checkbox-labelinput {
    color: #0073FF;
}

.checkbox-inputinput:focus+.checkbox-tileinput {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-inputinput:focus+.checkbox-tileinput:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tileinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    min-height: 9rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tileinput:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tileinput:hover {
    border-color: #0073FF;
}

.checkbox-tileinput:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-iconinput {
    transition: 0.375s ease;
    color: #0048ff5d;
}

.checkbox-iconinput svg {
    width: 5rem;
    height: 5rem;
}

.checkbox-labelinput {
    color: #707070da;
    transition: 0.375s ease;
    text-align: center;
}

a {
    text-decoration: none;
}


/* MODAL DE VEHCIULOS ++++++++++++++++++++++++*/

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.paragraph {
    text-align: center;
    margin-bottom: 1rem;
}

.modal-img {
    width: 50%;
    max-width: 200px;
}

.btns {
    display: flex;
    gap: 15px;
}

.btns>a {
    text-decoration: none;
    padding: 1rem;
    border-radius: .3rem;
    color: #fff;
    font-weight: 400;
}

.btns .open-view {
    color: #222;
    background-color: #e6e6e6;
    border: solid thin gray;
}

.open-guide {
    background-color: #6c63ff;
}

.close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
}


/* Carritos */

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    user-select: none;
    &>* {
        margin: 0.3rem 0.3rem;
    }
}

.checkbox-group-legend {
    font-size: 3rem;
    font-weight: 700;
    color: #373737;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:checked+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        color: #2260ff;
        &:before {
            transform: scale(1);
            opacity: 1;
            background-color: #2260ff;
            border-color: #2260ff;
        }
        .checkbox-icon,
        .checkbox-label {
            color: #2260ff;
        }
    }
    &:focus+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:hover {
        border-color: #2260ff;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-icon {
    transition: .375s ease;
    color: #0073ff67;
    width: 50px;
    height: 50px;
}

.checkbox-label {
    color: #2e2e2e;
    transition: .375s ease;
    text-align: center;
}