.vertical-menu li.active {
    background-color: rgba(75, 105, 176, 0.5);
    /* Color de resaltado */
    color: white;
    /* Color de texto en resaltado */
    font-weight: bold;
    /* Texto en negrita en resaltado */
}

p {
    text-align: center;
    color: #1d1d1d;
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.checkbox-group {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;
}

.checkbox-group>* {
    margin: 1rem 0.9rem;
}

.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-input:checked+.checkbox-tile {
    border-color: #0073FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: #0073FF;
}

.checkbox-input:checked+.checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #0073FF;
    border-color: #0073FF;
}

.checkbox-input:checked+.checkbox-tile .checkbox-icon,
.checkbox-input:checked+.checkbox-tile .checkbox-label {
    color: #0073FF;
}

.checkbox-input:focus+.checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-input:focus+.checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    min-height: 9rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tile:hover {
    border-color: #0073FF;
}

.checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-icon {
    transition: 0.375s ease;
    color: #0048ff5d;
}

.checkbox-icon svg {
    width: 5rem;
    height: 5rem;
}

.checkbox-label {
    color: #707070da;
    transition: 0.375s ease;
    text-align: center;
}

a {
    text-decoration: none;
}