@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    margin: 0;
    background: rgb(240, 240, 240);
    font-family: "Poppins", sans-serif;
}

.vertical-menu-wrapper {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 65%, rgba(0, 115, 255, 1) 100%);
}


/* Estilo para los elementos <hr> dentro de .vertical-menu-logo */

.vertical-menu-logo hr {
    border-width: 2px;
    /*Grosordeseado*/
    border-color: #000000;
    /*Colorrojo*/
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

i {
    color: #0073FF;
    margin-right: 20px;
    margin-left: 10px;
}

li {
    color: #000000;
}


/* Centra el contenido de vertical-menu-logo cuando la barra de navegación esté contraída */

.closed-menu .vertical-menu-logo-container {
    text-align: center;
}


/* Establece el margen derecho e izquierdo a "auto" para centrar el contenido */

.closed-menu .vertical-menu-logo {
    margin: 0 auto;
}


/* Restaura el margen de los botones de menú cuando la barra esté contraída */

.closed-menu .vertical-menu-logo .open-menu-btn {
    left: 7px;
    right: 100%;
}

nav {
    position: fixed;
    width: 100%;
    max-width: 300px;
    bottom: 0;
    top: 0;
    display: block;
    min-height: 300px;
    height: 100%;
    color: #fff;
    opacity: 0.8;
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
}

nav .vertical-menu hr {
    opacity: 0.1;
    border-width: 0.5px;
}

nav ul {
    width: 90%;
    padding-inline-start: 0;
    margin: 10px;
    height: calc(100% - 20px);
}

nav .vertical-menu-logo {
    padding: 20px;
    font-size: 1.3em;
    position: relative
}

nav .vertical-menu-logo .open-menu-btn {
    width: 30px;
    height: max-content;
    position: absolute;
    display: block;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

nav .vertical-menu-logo .open-menu-btn hr {
    margin: 5px
}

nav li {
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
}

nav li:hover {
    color: rgba(75, 105, 176, 1);
}

nav li#user-info {
    position: absolute;
    bottom: 0;
    width: 80%;
}

nav li#user-info>span {
    display: block;
    float: right;
    font-size: 0.9em;
    position: relative;
    opacity: 0.6;
}

nav li#user-info>span:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    background: green;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.content-wrapper {
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #fff;
    left: 300px;
    padding: 10px;
}

.closed-menu .content-wrapper {
    width: 98%;
    left: 50px;
}

.content-wrapper {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.vertical-menu-wrapper .vertical-menu-logo div {
    transition: all 100ms;
}

.closed-menu .vertical-menu-wrapper .vertical-menu-logo div {
    margin-left: -100px;
}

.vertical-menu-wrapper .vertical-menu-logo .open-menu-btn {
    transition: all 300ms;
}

.closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn {
    left: 7px;
    right: 100%;
}

.closed-menu .vertical-menu-wrapper ul,
.closed-menu .vertical-menu-wrapper hr {
    margin-left: -300px;
}

.vertical-menu-wrapper ul,
.vertical-menu-wrapper hr {
    transition: all 100ms;
}

.content-wrapper {
    background: #cecece;
    overflow-y: scroll;
    /* Habilita el desplazamiento vertical */
}

.content {
    width: 93%;
    min-height: 90%;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 40px;
}


/* Estilo para esenttialogo */

.esenttialogo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 80px;
    /* Establece la altura en 100px */
    width: 150px;
    /* Establece el ancho en 50px */
    margin: 0 auto;
    /* Centra horizontalmente */
}


/* Estilo para la imagen dentro de esenttialogo */

.esenttialogo img {
    max-width: 100%;
    max-height: 100%;
}

img {
    height: 60px;
    width: 250px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* Otros estilos de la imagen */
}

.content img {
    display: block;
    margin: 0 auto;
    /* Centra horizontalmente */
    max-width: 100%;
    /* Ajusta el ancho máximo según el tamaño de la pantalla */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.vertical-menu {
    font-family: "Poppins", sans-serif;
}


/* Estilo para imglogo */

.imglogo {
    height: 40px;
    width: 180px;
    display: block;
    /* Alinea el logotipo a la izquierda */
    /* Añade un margen izquierdo para espaciarlo del borde */
}


/* Oculta el logotipo cuando el menú está cerrado */

.closed-menu .logo-container {
    display: none;
}

button {
    position: relative;
    height: 45px;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    background: #232323;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

button:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
}

button:hover:before {
    opacity: 1;
}

button:hover:active {
    background: none;
}

button:hover:active:before {
    filter: blur(2px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}